body {
	font-family: 'Raleway', sans-serif;
	background: #ffdbaa;
	padding-top: 70px;
}

html {
	height: 100%;
}

.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.form-group {

}

.first {
	padding-bottom: 20px;
	padding-top: 20px;
	height: 200px;
}

.second {
	padding-bottom: 20px;
	padding-top: 50px;
	height: 200px;
}

.form-group {
	max-width: 275px;
}

select[multiple],
select[size] {
  height: 150px;
}

textarea.form-control {
    height: 150px;
		max-width: 250px;
}
